<h3>Order Inventory</h3>
<table class="table table-bordered">
  <thead >
    <tr >
      <th class="ingredient-title" scope="col">Ingredient</th>
      <th class="uc-title" scope="col">Units to Order</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Coffee</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Decaf Coffee</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Sugar</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Cream</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Steamed Milk</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Foamed Milk</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Espresso</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Cocoa</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Whipped Cream</th>
      <td>
        <input type="text" value="5"/>
      </td>
    </tr>
  </tbody>
</table>
