<h3>Inventory</h3>
<table class="table table-bordered">
  <thead >
    <tr >
      <th class="ingredient-title" scope="col">Ingredient</th>
      <th class="uc-title" scope="col">Unit Cost</th>
      <th class="is-title" scope="col">Units in stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Coffee</th>
      <td>$0.75</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Decaf Coffee</th>
      <td>$0.75</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Sugar</th>
      <td>$0.25</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Cream</th>
      <td>$0.25</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Steamed Milk</th>
      <td>$0.35</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Foamed Milk</th>
      <td>$0.35</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Espresso</th>
      <td>$1.10</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Cocoa</th>
      <td>$0.90</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Whipped Cream</th>
      <td>$1.00</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
